@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

html, body 
{
  background: #FDE92F;
  margin: 0;
  padding: 0;
}

/*Top Bandai Namco*/
.top-bar {
  width: 100%;
  height: 70px;        
  background: #f5f5f5;      
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  box-sizing: border-box;
  gap: 20px;
  } 

  .top-bar-logo {
  height: 42px;          
  width: auto;
  max-width: 90%;
  display: block;
  }

  .top-bar-royale-logo 
  {
  height: 42px;
  width: auto;
  display: block;
  filter:drop-shadow(.33px .33px .75px black);
  }
/*Top Bandai Namco*/


/*Top Video Intro*/
.top-video
{
  width: 100%;
  background: #000;
}



.top-video-frame
{
  position: relative;
  width: 100%;
  height: 60vh;
  overflow: hidden;
  pointer-events: none;
}

.top-video-frame iframe
{
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  
}
/*Top Video Intro*/



/*Top CTA*/
.top-cta
{
  background-color: none;
  text-align: center;
  margin: 70px auto;
}

.top-cta-txt{
  color: #ED0101;
  font-family: "DotGothic16";
  font-size: 50px;
  font-weight: bold;
}

.scroll 
{
  width: 40px;
  height: auto;
  display: block;
  margin: -55px auto 0; 
}

.top-cta-badges{
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
}


.top-cta-badges a:hover .badge
{
  transform: scale(1.05);
  filter:drop-shadow(10px 10px 20px black);
  transition: 0.2s;
}

.top-cta-badges a:active .badge
{
  transform: scale(0.98);
  filter: drop-shadow(2px 2px 8px black);
  transition: 0.2s;
}

.badge{
  height:75px;
  width: auto;
  display: block;

}
/*Top CTA*/



/*Game Battle*/
.battle
{
  width: 85%;
  margin: 70px auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(420px, 100%), 1fr));
  align-items: stretch;
  border: solid 2.5px #000000;
  border-radius: 30px;
  color: #000000;
  overflow: hidden;
}

.battle h2
{
  font-size: 50px;
  letter-spacing: 1.5px;
  color: rgb(0, 0, 0);
  margin: 0 0 12px 0;
}

.battle-txt
{
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: DotGothic16;
  color: rgb(0, 0, 0);
  font-size: 25px;
}

.battle-pic img
{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
/*Game Battle*/


/*Power Up*/
.power-up
{
  width: 85%;
  margin: 70px auto;
  text-align: center;
  font-family: DotGothic16;
  letter-spacing: 1.5px;
}

.power-up-title
{
font-size: 50px;
margin-top: 70px;
margin-bottom: -10px;
}

.power-up-title-txt
{
  font-size: 25px;
}

.power-up-grid
{
  display: grid;
 grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.power-up-box
{
  border: solid 2.5px #000000;
  border-radius: 30px;
  padding: 20px;
  background: none;
  text-align: center;
}

.power-up-icon
{
  width: 50%;
  height: auto;
  border: none;
  border-radius: 12px;
}

.power-up-name
{
  font-size: 40px;
}
.power-up-txt
{
  font-size: 25px;
}
/*Power Up*/



/*Costumes*/
.costumes
{
  width: 85%;
  margin: 70px auto;
  text-align: center;
  font-family: DotGothic16;
}

.costumes-title
{
  font-size: 50px;
  letter-spacing: 1.5px;
  margin-bottom: -10px;
}

.costumes-title-txt
{
  font-size: 25px;
}

.pacman-top img
{
width: 100%;
max-width: 320px;
filter:drop-shadow(0 15px 4px rgba(0, 0, 0, 0.55))
}

.costumes-grid
{
  display: grid;
  gap: 20px;
  max-width: calc(3*260px + 2 * 100px);
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

}

.costumes-box
{
  text-align: center;
}

.costumes-circle
{
  width: 240px;
  height: 240px;
  margin: 0 auto 10px;
  border-radius: 999px;
  border: 2.5px solid black;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.costumes-circle img
{
  width: 100%;
  height: auto;
  display: block;
}

.costume-name
{
  margin:0;
  font-size: 25px;
  letter-spacing: 1.5px;
}

  



/*Leaderboard*/
.leaderboard
{
width: 85%;
margin: 70px auto;
display: grid;
grid-template-columns: repeat(auto-fit, minmax(min(420px, 100%), 1fr));
align-items: stretch;
font-family: DotGothic16;
border: solid 2.5px #000000;
border-radius: 30px;
overflow: hidden;

}

.leaderboard-pic img
{
width: 100%;
height: 100%;
display: block;
object-fit: cover;
}

.leaderboard-txt
{
padding: 20px;
display: flex;
flex-direction: column;
justify-content: center;
}

.leaderboard-txt h2
{
font-size: 50px;
letter-spacing: 1.5px;
margin: 0 0 12px 0;
}

.leaderboard-txt p
{
  font-size: 25px;
}
/*Leaderboard*/



/*Season*/
.season
{
width: 100%;
margin: 70px auto;
}

.season-pic
{
  width: 50%;
  height: auto;
  display: block;
  margin: auto;
  border: solid 2.5px black;
  border-radius: 30px;
  min-width: 380px;
}

.season-txt
{
  width: 85%;
  margin: auto;
  text-align: center;
  font-family: DotGothic16;
}



.season-txt h2
{
  font-size: 50px;
  margin: 10px;
}

.season-txt p
{
  font-size: 25px;
}
/*Season*/



/*Desire*/
.desire{
  width: 85%;
  margin: 70px auto;
  font-family: DotGothic16;
  text-align: center;
 
}

.desire-title{
  font-size: 50px;
  letter-spacing: 1.5px;
  margin: 10px;
}

.desire-pic img{
  width: 100%;
  height: auto;
  max-width: 350px;
  display: block;
  margin: auto;
  filter: drop-shadow(0 20px 10px rgba(0,0,0,.75));
}

.desire p
{
  font-size: 25px;
  margin: 30px auto;
  max-width: 900px;
}
/*Desire*/

/*Bottom CTA*/
.bottom-cta
{
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: DotGothic16;
}

.bottom-cta-box 
{
  
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
}

.bottom-cta-logo
{
  width: 50%;
  height: auto;
  display: block;
}

.bottom-cta-title
{
  width: 30%;
  font-size: 50px;
  letter-spacing: 1.5px;
  margin: 0;
  color: #ED0101;
}

.bottom-cta-txt
{
  width: 50%;
  font-size: 25px;
  margin: 0;
}

.bottom-cta-download
{
  display:flex;
  justify-content: center;
  gap: 30px;
}

.bottom-cta-badge
{
  height: 58px;
  width: auto;
  display: block;
  flex-wrap: wrap;
}

.bottom-cta-download a:hover .bottom-cta-badge
{
  transform: scale(1.05);
  filter: drop-shadow(10px 10px 20px black);
  transition: 0.2s;
}

.bottom-cta-download a:active .bottom-cta-badge
{
  transform: scale(0.98);
  filter: drop-shadow(2px 2px 8px black);
  transition: 0.2s;
}
/*Bottom CTA*/



/*Bottom Namco Bandai*/
.bottom-bandai
{
  width: 100%;
  background: #f5f5f5;
  padding: 20px;
  margin-top: 200px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.bottom-bandai-box
{
  width: 85%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.bottom-bandai-links
{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-align: center;
}

.bottom-bandai-links a
{
  color: black;
  text-decoration: none;
  font-size: 15px;
  letter-spacing: 0.3px;
}

.bottom-bandai-links a:hover
{
  text-decoration: underline;
  color: red;
  transition: 0.3s;
}

.bottom-bandai-logo
{
  height: 50px;
  width: auto;
}

.bottom-bandai-cpr
{
  margin: 0;
  font-size: 15px;
  letter-spacing: 0.3px;
  color: #000;
}
/*Bottom Namco Bandai*/
