@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

html, body 
{
  background: #FDE92F;
}

/*Top Video Intro*/
.top-video
{
  width: 100%;
  background: #000;
  position: relative;
}

.top-video-frame
{
  position: relative;
  width: 100%;
  height: 70vh;
  overflow: hidden;
  pointer-events: none;
}

.top-video-frame iframe
{
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}
/*Top Video Intro*/



/*Top CTA*/
.top-cta
{
  background-color: none;
  text-align: center;
  margin: 70px auto;
}

.top-cta-txt{
  color: #000;
  font-family: "DotGothic16", sans-serif;
  font-size: 50px;
  font-weight: bold;
}

.top-cta-badges{
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
}

.badge{
  height:75px;
  width: auto;
  display: block;
}
/*Top CTA*/



/*Game Battle*/
.battle
{
  width: 80%;
  margin: 70px auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: stretch;
  border: solid 5px #000000;
  border-radius: 30px;
  color: #000000;
  overflow: hidden;
}

.battle-txt h2
{
  font-size: 50px;
  letter-spacing: 1.5px;
  color: rgb(0, 0, 0);
}

.battle-txt
{
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: DotGothic16;
  color: rgb(0, 0, 0);
   font-size: 20px;
}

.battle-pic img
{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
/*Game Battle*/


/*Power Up*/
.power-up
{
  width: 85%;
  margin: 70px auto;
  text-align: center;
  font-family: DotGothic16;
  letter-spacing: 1.5px;
}

.power-up-title
{
font-size: 50px;
margin: 20px;
}

.power-up-title-txt
{
  font-size: 20px;
}

.power-up-grid
{
  display: grid;
 grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.power-up-box
{
  border: solid 5px #000000;
  border-radius: 30px;
  padding: 10px;
  background: none;
  text-align: center;
}

.power-up-icon
{
  width: 50%;
  height: auto;
  border: none #000000;
  border-radius: 12px;
}

.power-up-name
{
  font-size: 30px;
}
.power-up-txt
{
  font-size: 20px;
}
/*Power Up*/



/*Costumes*/
.costumes
{
  width: 85%;
  margin: 70px auto;
  text-align: center;
  font-family: DotGothic16;
}

.costumes-title
{
  font-size: 50px;
  letter-spacing: 1.5px;
}

.costumes-title-txt
{
  font-size: 20px;
}

.pacman-top img
{
width: 100%;
max-width: 320px;
filter:drop-shadow(0 15px 4px rgba(0, 0, 0, 0.55))
}

.costumes-grid
{
  display: grid;
  gap: 20px;
  max-width: calc(3*260px + 2 * 100px);
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));

}

.costumes-box
{
  text-align: center;
}

.costumes-circle
{
  width: 240px;
  height: 240px;
  margin: 0 auto 10px;
  border-radius: 999px;
  border: 5px solid black;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.costumes-circle img
{
  width: 100%;
  height: auto;
  display: block;
}

.costume-name
{
  margin:0;
  font-size: 20px;
  letter-spacing: 1px;
}

  